<ion-view hide-nav-bar="true">
	<ion-header-bar class="bar bar-stable">
	  	<div class="buttons buttons-left header-item">
	  		<span class="left-buttons">
	        	<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
	      	</span>
	    </div>
	    <div class="title title-center header-item">
	    	<img class="title-image" src="img/logo.png"/>
		</div>
  	</ion-header-bar>
  	<div class="bar bar-subheader">
  		
  	</div>
  	<ion-content>

  	</ion-content>
</ion-view>
