<ion-side-menus enable-menu-with-back-views="false" hide-nav-bar="true"> 
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" style="background-color: #e6f2f9;">
        <ion-content>
            <ion-list class="side_bar">
                <ion-item menu-close ng-click="signIn()" ng-show="!showing_status.loggined">
                    Sign In
                </ion-item>
                <ion-item menu-close ng-click="signOut()" ng-show="showing_status.loggined">
                    Sign Out
                </ion-item>
                <ion-item menu-close ng-click="signOut()" ng-show="showing_status.loggined">
                    Account Settings
                </ion-item>
                <ion-item menu-close ng-click="signOut()" ng-show="showing_status.loggined">
                    Request Service
                </ion-item>
                <ion-item menu-close ng-click="signOut()" ng-show="!showing_status.loggined">
                    Register
                </ion-item>
            </ion-list>
            <div class="list chat_menu" ng-show="showing_status.is_bubble">
                <label class="item item-input close-button">
                    <button class="icon ion-ios-close-outline" live-displace="true" ng-click="bubble_click_close()"></button>
                </label>
                <label class="item item-input">
                    <input type="text" ng-model="log_message.name" placeholder="Name">
                </label>
                <label class="item item-input">
                    <input type="text" ng-model="log_message.email" placeholder="Email Address">
                </label>
                <label class="item item-input">
                    <textarea placeholder="Message" ng-model="log_message.message"></textarea>
                </label>
                <label class="item item-input">
                    <button> Submit </button>
                </label>
            </div>          
            <div class="chat_bubble" ng-show="!showing_status.is_bubble">
                <ion-fab live-displace="true" ng-click="bubble_click_open()">
                        <i class="icon ion-ios-chatbubble"></i>
                </ion-fab>
            </div>  
        </ion-content>        
    </ion-side-menu>
</ion-side-menus>
