.side_bar ion-item{	
    background-color: #087cbf;
    border-color: #087cbf;
    margin-top: 3px;
    color: white;
    border-radius: 10px;
    width: 80%;
    height: 50px;
    margin-left: 10%;
}

.side_bar .list{
    padding-top: 30px;
}

.side_bar ion-item>a{
    background-color: #087cbf !important;
}

.chat_menu{
	margin-top: 30px;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    border: 5px solid #087cbf;
    border-top: none;
}

.chat_menu label{
	padding-right: 5px;
    padding-left: 5px;
    background-color: #087cbf;
}

.chat_menu label>input{
	border-bottom: 1px solid white;
    color: white;
}

.chat_menu label>textarea{
	border-bottom: 1px solid white;
    background-color: #087cbf;
    height: 70px;
    color: white;
}

.chat_menu label>button{
	border-bottom: 1px solid white;
    background-color: #087cbf;
    height: 40px;
    color: white;
    width: 60%;
    margin-left: 20%;
}

.ion-ios-chatbubble:before{
    margin-top: 13px;
    margin-left: 13px;
}

.chat_bubble ion-fab{
    float: right;
    font-size: 200%; 
    width: 50px; 
    height: 50px; 
    background-color: #0e77b9; 
    color: white;  
    border-radius: 50%; 
    margin-right: 20px;
    margin-top: 40px;
}

.close-button{
    border: none;    
    border-radius: 5px;
}

.close-button button{
    border: none;
    width: 20px !important;
    height: 20px !important;
    margin-left: 90% !important;
    border-bottom: none !important;
}
